---
import DashboardLayout from "../../layouts/dashboard-layout.astro";
---

<DashboardLayout title="Donantes" activeSection="donantes">
  <div class="dashboard-page">
    <div class="page-header">
      <div class="header-content">
        <h1 class="page-title">Bienvenido a los donantes</h1>
        <p class="page-subtitle">Aquí puedes gestionar tus donantes.</p>
      </div>
    </div>

    <div class="page-content"></div>
  </div></DashboardLayout
>
