---
import DashboardLayout from "../../layouts/dashboard-layout.astro";
---

<DashboardLayout title="Reportes" activeSection="reportes">
  <div class="dashboard-page">
    <div class="page-header">
      <div class="header-content">
        <h1 class="page-title">Bienvenido a los reportes</h1>
        <p class="page-subtitle">Aquí puedes gestionar tus reportes.</p>
      </div>
    </div>

    <div class="page-content"></div>
  </div></DashboardLayout
>
